# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Sensible / secrets
.env
.env.local
*.pem
config_local.py

# Base de datos local
# *.db
# *.sqlite
# *.sqlite3

# Modelos entrenados
*.pt
*.pth
!data/models/models/*.onnx
!database_fotos/*.pkl
!database_fotos/json/*.json

trained/
build/
dist/
bin/

# Fotos de empleados (Añadidas por petición del usuario)
# fotos_empleados/
# photos/
# empleados_fotos/
# database_fotos/
# _archivo/yolo/yolo_dataset/
# _archivo/datos_generados/
# *.pdf
# database_fotos/
# **/employees_db.json

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
desktop.ini

# PyInstaller
*.spec
build/
dist/

# Jupyter
.ipynb_checkpoints/
*.ipynb
